	<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">

   <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

    <link rel="stylesheet" href="assets/css/Footer-white.css">
  <title>Future House</title>

	<link rel="stylesheet" href="css/style.css">
</head>
<body>

<header class="header-pages2">	

	<div class="container header-block">

		<div class="logo">
			<img class="img1" src="img/logo.png">
		</div>

		<div class="menu">
			<ul>
				<li> <a href="/home">Главная</a> </li>
				<li> <a href="/galery">Галерея</a> </li>
				<li> <a href="#">О нас</a> </li>
			</ul>

		</div>
		
			<div class="menu2">
				<ul>
				<li> <a class="link" href="#">Связаться</a></li>
				</ul>
			</div>
	</div>
</header>



<section class="Galery">
<div class="container Galery-block">
			<div class="Text-Galery">
				<h1>Галерея наших работ</h1>
				<div class="rectangle"></div>
				<p>Это галерея наших работ, здесь вы можете увидеть дома, в которых уже живут счастливые люди! Галерея представлена ради ознакомления с нашими работами. Опираясь на них, вы можете заказать своё уникальное жилище, подходящее идеально для вас, вашей семьи и вашего стиля жизни!</p>
			</div>


	<div class="all">
		<input checked type="radio" name="respond" id="desktop">
			<article id="slider">
					<input checked type="radio" name="slider" id="switch1">
					<input type="radio" name="slider" id="switch2">
					<input type="radio" name="slider" id="switch3">
					<input type="radio" name="slider" id="switch4">
					<input type="radio" name="slider" id="switch5">
				<div id="slides">
					<div id="overflow">
						<div class="image">
							<article><img src="sl1.jpg"></article>
							<article><img src="sl2.jpg"></article>
							<article><img src="sl3.jpg"></article>
							<article><img src="sl4.jpg"></article>
							<article><img src="sl5.jpg"></article>
						</div>
					</div>
				</div>
				<div id="controls">
					<label for="switch1"></label>
					<label for="switch2"></label>
					<label for="switch3"></label>
					<label for="switch4"></label>
					<label for="switch5"></label>
				</div>
				<div id="active">
					<label for="switch1"></label>
					<label for="switch2"></label>
					<label for="switch3"></label>
					<label for="switch4"></label>
					<label for="switch5"></label>
				</div>
			</article>
	</div>
</div>
</section>



<footer id="myFooter">
        <div class="container">
            <ul>
                <li><a href="/home">О нас</a></li>
                <li><a href="#">Связаться</a></li>
                <li><a href="/galery">Галерея</a></li>
                <li><a href="#">Условия обслуживания</a></li>
            </ul>
        <p class="footer-copyright">#FutureHome2020</p>
        </div>
        <div class="footer-social">
            <a href="#" class="social-icons"><i class="fa fa-facebook"></i></a>
            <a href="#" class="social-icons"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="social-icons"><i class="fa fa-twitter"></i></a>
        </div>
 </footer>



 
</body>



</html>