	<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">

 



 <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
   			 <link rel="stylesheet" href="assets/css/Footer-white.css">


  <title>Future House</title>
	<link rel="stylesheet" href="css/style.css">
</head>



<body>

<header class="header">	
	<div class="container header-block">
		<div class="logo">
			<img class="img1" src="img/logo.png">
		</div>
		<div class="menu">
			<ul>
				<li> <a href="/home">Главная</a> </li>
				<li> <a href="/galery">Галерея</a> </li>
				<li> <a href="#">О нас</a> </li>
			</ul>
		</div>
			<div class="menu2">
				<ul>
				<li> <a class="link" href="#">Связаться</a></li>
				</ul>
			</div>
	</div>
</header>

<section class="about">
	<div class="container about-block">
		<div class="infom"> 
			<h3>Твой новый стиль уже здесь!</h3>
			<h1>Твой умный дом уже ждет тебя</h1>
			<p>Мы специализируемся на постройке смарт-домов 
			в России и странах СНГ.</p>
			<a href="#">Узнай больше</a>
		</div>
			<div class="img2">
				<img src="img/ph1.png">
			</div>
	</div>
</section>


<section class="Whywe">
	<div class="container">
		<div class="container whywe-block">
			<div>
				<img class="whyweigm" src="img/whywe.png">
				<img class="img-block1" src="img/third.png">
			</div>
		</div>
</section>


<footer id="myFooter">
        <div class="container">
            <ul>
                <li><a href="/home">О нас</a></li>
                <li><a href="#">Связаться</a></li>
                <li><a href="/galery">Галерея</a></li>
                <li><a href="#">Условия обслуживания</a></li>
            </ul>
        <p class="footer-copyright">#FutureHome2020</p>
        </div>
        <div class="footer-social">
            <a href="#" class="social-icons"><i class="fa fa-facebook"></i></a>
            <a href="#" class="social-icons"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="social-icons"><i class="fa fa-twitter"></i></a>
        </div>
 </footer>






 
</body>



</html>